.navbar img {
  width: 15rem;
}
.navbar a {
  font-family: "Chakra Petch", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.navbar li a:hover {
  background-color: yellow;
  font-weight: bold;
  transition-duration: 0.5s;
}
.navbar .a-nav a {
  width: 30%;
}

/*BODY*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../img/fondo.png);
}

/*INDEX*/
.main-inex h2 {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 4vw;
  margin-left: 10%;
  margin-top: 3rem;
  text-shadow: 2px 3px 4px black;
  border-left: 4px solid yellow;
}
.main-inex .img-grande img {
  margin-top: 2rem;
  margin-left: 10%;
  width: 70%;
}
.main-inex h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 2vw;
  padding: 2%;
  margin: 2% 5% 0 5%;
  border: yellow outset;
  color: white;
  margin-top: 8%;
}
.main-inex h6 {
  font-size: 3vw;
  color: white;
}
.main-inex h5 {
  text-transform: uppercase;
  font-size: 4vw;
  color: white;
}
.main-inex p {
  font-size: 2.5vw;
  color: white;
  text-transform: uppercase;
}

.card {
  background-color: #1e1e1e;
  width: 60%;
  height: 100%;
  overflow: hidden;
}
.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.card h5 {
  color: white;
  text-transform: uppercase;
}
.card img:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.1);
  transition-duration: 1s;
}

.card:hover {
  background-color: #323232;
  transition-duration: 0.5s;
}

@media (max-width: 770px) {
  .main-inex h2 {
    font-size: 6vw;
    margin: 5%;
    text-align: start;
  }
  .main-inex .img-grande img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
  }
  .main-inex h3 {
    font-size: 4vw;
  }
  .main-inex h5 {
    font-size: 6vw;
  }
  .main-inex h6 {
    font-size: 5vw;
  }
  .main-inex p {
    font-size: 3.5vw;
  }
}
/*SEXO*/
.main-sexo h2 {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 4vw;
  padding: 2% 0% 2% 0%;
  margin: 3rem 4rem 0rem 4rem;
  text-shadow: 2px 3px 4px black;
  border-top: 8px solid yellow;
  border-bottom: 8px solid yellow;
}
.main-sexo h3 {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 3.5vw;
  text-shadow: 2px 3px 4px black;
}
.main-sexo .titulo {
  margin-top: 6rem;
}
.main-sexo h4 {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 2.5vw;
  text-shadow: 2px 3px 4px black;
  margin-top: 4%;
}
.main-sexo .izq {
  margin-right: 5% !important;
}
.main-sexo .der {
  margin-left: 5% !important;
}
.main-sexo .card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  height: 100%;
}
.main-sexo .card img {
  width: 60%;
}
.main-sexo .card p {
  font-size: 1.5vw;
  text-transform: uppercase;
  color: white;
}

@media (max-width: 1040px) {
  .main-sexo h2 {
    font-size: 4vw;
  }
  .main-sexo h5 {
    font-size: 6vw;
  }
  .main-sexo h6 {
    font-size: 5vw;
  }
  .main-sexo .card {
    width: 90%;
  }
  .main-sexo .card img {
    width: 70%;
  }
  .main-sexo .card p {
    font-size: 2vw;
  }
}
@media (max-width: 770px) {
  .main-sexo h2 {
    font-size: 5vw;
    margin: 3rem 2.5rem 0rem 2.5rem;
  }
  .main-sexo h3 {
    font-size: 5.5vw;
  }
  .main-sexo h4 {
    font-size: 4vw;
  }
  .main-sexo .card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .main-sexo .card p {
    font-size: 3vw;
  }
}
@media (max-width: 576px) {
  .main-sexo .card {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 60%;
  }
  .main-sexo .card img {
    width: 70%;
  }
}
/*TIENDA*/
.main-tienda h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-size: 3vw;
  text-transform: uppercase;
}
.main-tienda .card {
  width: 20%;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  box-shadow: 4px 4px 4px black;
}
.main-tienda .card h6 {
  font-size: 1.5vw;
}
.main-tienda .card p {
  font-size: 1.3vw;
}
.main-tienda .card a {
  font-size: 2vw;
  color: black;
}
.main-tienda .card-image {
  position: relative;
  padding-bottom: 3%;
}
.main-tienda .card-image img {
  width: 100%;
  height: auto;
}
.main-tienda .hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}
.main-tienda .card:hover .hover-image {
  opacity: 1;
  transition-duration: 0.5s;
}

.footer {
  background-color: #1e1e1e;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  border-bottom: solid 1px rgb(60, 56, 56);
}

.patrocinadores {
  background-color: #1e1e1e;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: solid 1px #3c3838;
}
.patrocinadores p {
  font-family: "Chakra Petch", sans-serif;
  font-size: 1.2rem;
  color: white;
  text-align: center;
}

.logo-pa {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.lista-linea {
  list-style: none;
}

li {
  display: inline;
  margin-right: 0.3rem;
  font-weight: 600;
  font-family: "Chakra Petch", sans-serif;
}

a {
  text-decoration: none;
  color: white;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.sociales {
  text-align: right;
}

.soc {
  cursor: pointer;
  animation: salto 0.5s infinite alternate;
}
.soc:hover {
  color: red;
}

@keyframes salto {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
.copy {
  background-color: #1e1e1e;
  text-align: center;
  color: white;
}

p {
  margin-bottom: 0px;
  padding-bottom: 1rem;
}

@media (max-width: 1040px) {
  .sociales {
    text-align: center;
    padding-top: 1rem;
  }
  .left {
    text-align: center;
  }
  .lista-linea a, .copy p {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=estilo.css.map */
