.footer {
    background-color:$color-cards;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: solid 1px rgb(60, 56, 56);
  }
  
  .patrocinadores {
    background-color:$color-cards;
    padding-bottom: 1rem;
    padding-top: 1rem;
    border-bottom: solid 1px #3c3838;
  
    p {
      font-family: $fuente-nav;
      font-size: 1.2rem;
      color: white;
      text-align: center;
    }
  }
  
  .logo-pa {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  .left{
    padding-left: 2%;
  }

  .ul-li{
    li{
      list-style: none;
      font-family: $fuente-nav;
      a{
        font-size: .9rem;
        color: rgb(167, 167, 167);
      }
    }
  }
  
  a {
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    font-size: 1.2rem;
  }
  
  .sociales {
    text-align: right;
  }
  
  .soc {
    cursor: pointer;
    animation: salto 0.5s infinite alternate;
  
    &:hover {
      color: red;
    }
  }
  
  @keyframes salto {
    0% {
      transform: translateY(0);
    }
  
    100% {
      transform: translateY(-20px);
    }
  }
  
  .copy {
    background-color:$color-cards;
    text-align: center;
    color: white;
  }
  
  p {
    margin-bottom: 0px;
    padding-bottom: 1rem;
  }
  
  @media (max-width: 1040px) {
    .sociales {
      text-align: center;
      padding-top: 1rem;
    }

    .left{
      display: flex;
      justify-content: center;
      margin-bottom: 3%;
    }

    ul{
      display: none;
    }
    
  }

  /*RUTINAS VARIAS*/

  .rutinas{
    h3{
      font-family: $funte-sobtitulos;
      color: white;
      font-size: 3.5rem;
      text-transform: uppercase;
    }
    h4{
      font-family: $funte-sobtitulos;
      color: white;
      font-size: 2.5rem;
    }
    .rutina-left{
      background-color: $color-hover;
      border: 4px solid black;
    }
    .dia{
      background-color: $color-cards;
      h5{
        display: inline;
        font-size: 2.5rem;
        font-family: $fuente-nav;
        font-weight: 600;
        color: white;
        margin-right: 10%;
      }
      h6{
        display: inline;
        font-size: 2rem;
        font-family: $fuente-nav;
        font-weight: 600;
        color: white;

      }
      .text{
        display: flex;
        align-items: center;
        p{
          color: white;
          font-size: 1.5rem;
          padding:2% ;
        }
      }
      
      img{
        width: 100%;
      }
    }

    @media (max-width:768px){
      .dia{
        h5{
          font-size: 2.5rem;
        }
        h6{
          font-size: 2rem;
        }
        .text{
          p{
            font-size: 1.5rem;
          }
        }
      }
      
    }
    @media (max-width:550px){
      .dia{
        h5{
          font-size: 2rem;
        }
        h6{
          font-size: 1.5rem;
        }
        .text{
          p{
            font-size: 1rem;
          }
        }
      }
      
    }
  }