.navbar{
    img{
        width: 15rem;
    }
    a{
        font-family: $fuente-nav;
        color: white;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 1px;
    }
    li a:hover{
        background-color: yellow;
        font-weight: bold;
        transition-duration:.5s ;
    }

    .a-nav a{
        width: 30%;
    }

}
