/*BODY*/

* {
    margin: 0;
    padding: 0;
  }



body {
    background-image: url(../img/fondo.png);
}

/*INDEX*/

main{
    h2{
        color: white;
        font-family:$funte-sobtitulos;
        text-transform: uppercase;
        font-size: 4vw;
        margin-left: 10%;
        margin-top: 3rem;
        text-shadow: 2px 3px 4px black;
        border-left: 4px solid yellow;
    }

    .img-grande img{
        margin-top: 2rem;
        margin-left: 10%;
        width: 70%;
    }

    h3{
        color: white;
        font-family:$funte-sobtitulos;
        text-transform: uppercase;
        font-size: 3.5vw;
        text-shadow: 2px 3px 4px black;
    }

    .titulo{
        margin-top: 6rem;
    }
    h4{
        color: white;
        font-family:$funte-sobtitulos;
        text-transform: uppercase;
        font-size: 2.5vw;
        text-shadow: 2px 3px 4px black;
        margin-top: 4%;
    }
}


.card{
    background-color: $color-cards;
    width: 80%;
    height: 100%;
    overflow: hidden;
    img{
        display: block;
        margin-left: auto;  
        margin-right: auto;
        width: 70%;
    }
}

.card{
    h5{
        color: white;
        text-transform: uppercase;
    }
    img:hover {
        -webkit-transform: scale(1.5);
        transform: scale(1.1);
        transition-duration: 1s;
    }
}

.card:hover{
    background-color: $color-hover ;
    transition-duration: .5s;
}

@media (max-width:770px){
    main{
        h2{
            font-size: 6vw;
            margin: 5%;
            text-align: start;
        }
        .img-grande img{
            display: block;
            margin-left: auto;  
            margin-right: auto;
            margin-top: 5%;
        }
        .titulo{
            margin-top: 10%;
            h3{
                font-size: 5vw;
            }
            h4{
                font-size: 4vw;
            }
        }
        .card{
            display: block;
            margin-left: auto;  
            margin-right: auto;
            width: 65%;
            height: 100%;
            img{
                display: block;
                margin-left: auto;  
                margin-right: auto;
                width: 80%;
            }
        }
    }
}

/*SEXO*/

.main-sexo{
    h2{
        font-size: 2vw;
        padding: 2%;
        margin: 2% 5% 0 5%;
        border: yellow outset ;
    }
    h6{
        font-size: 3.5vw;
         color: white;
    }
    h5{
        text-transform: uppercase;
        font-size: 4.5vw;
        color: white;
    }
    p{
        font-size: 2.5vw;
        color: white;
        text-transform: uppercase;
    }
}

.card{
    width: 65%;
    height: 100%;
    img{
        width: 60%;
    }
}

@media (max-width:1040px){
    .main-sexo{
        h2{
            font-size: 3vw;
        }
        h5{
            font-size: 4.5vw;
        }
        h6{
            font-size: 4vw;
        }
        p{
            font-size: 3.5vw;
        }
        .card{
            width: 70%;
        }
    }
}

@media (max-width:770px){
    .main-sexo{
        h2{
            font-size: 4vw;
        }
        h5{
            font-size: 5.5vw;
            
        }
        h6{
            font-size: 4.5vw;
        }
        p{
            font-size: 4.5vw;
        }
        .card{
            margin-left: 0;
            margin-right: 0;
            width: 70%;
        }
    }
}